.nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50vw;
}

.part-navbar{
    cursor: pointer;
display: flex;
align-items: center;
padding: 0;

    
}
.part-navbar p{
margin: 10px;
font-size: 1rem;
font-family: sans-serif;
}
.logo-principal{
    margin: 0;
    padding: 0;

}



.boton{
    background-color: #608AF5;
    display: flex;
    align-items: center;
    padding: 4px;
    height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-family: sans-serif;

    cursor: pointer;
    box-shadow:5px 2px  rgb(252, 246, 246);
}




.nav-mobile{
    position:absolute;
    width:100%;
    left: -100%;    
    transition: 0.5s all;   
    height: 100vh;
    background-color: whitesmoke;
}
.nav-mobile-active{
    transition: 0.5s all;

    left: 0; 
}

.icono img{
margin: 0 auto;
margin-top: 15px;
margin-right: 20px;


}

.icon-x{
    font-size: 25px;
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
    color: grey;
}

.options{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;

}
.options:hover{
background:#fff;

}


.options-boton{
    background-color: #608AF5;
    display: flex;
    align-items: center;
    padding: 4px;
    height: 40px;
    width: 96px;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:5px 2px  rgb(252, 246, 246);
    font-family: sans-serif;
    cursor: pointer;
}